<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filmweb</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<div th:replace="template.html :: logo"></div>
<div th:replace="template.html :: userMenu"></div>
<div th:replace="template.html :: finderBar"></div>
<div th:replace="template.html :: menu"></div>


    <form id="review-form" method="POST" th:object="${review}">
        <input type="text" placeholder="recenzja" name="content" th:field="*{content}"><br>
        <input type="submit" value="OK" style="
    margin-top: 300px;
">
    </form>

</body>
</html>


