<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filmweb</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<div th:replace="template.html :: logo"></div>
<div th:replace="template.html :: userMenu"></div>
<div th:replace="template.html :: finderBar"></div>
<div th:replace="template.html :: menu"></div>

<div id="content">
    <th:block th:each="currentReview : ${reviews}">
        <div class="movie">
            <div class="reviews-title" th:text="${currentReview.content}"></div>
                <div class="value" >
            </div>

        <div class="director">
            <div class="reviews-label">Recenzja użytkownika:</div>
            <div class="value">
                <div class="director-name" th:text="${currentReview.getUser().getLogin()}"></div>
            </div>

        </div>
        </div>
    </th:block>
</div>
</body>
</html>
