<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filmweb</title>
</head>
<body>

<a href="/main" id="logo" th:fragment="logo">

</a>



<div id="user-menu" th:fragment="userMenu">
    <th:block th:if="${isLogged}">
    <a href="/user" id="basket-button"></a>
    </th:block>

    <th:block th:if="${!isLogged}">
        <a href="/login" id="login-button"></a>
    </th:block>

    <th:block th:if="${isLogged}">
        <a href="/logout" id="logout-button"></a>
    </th:block>

    <th:block th:if="${isLogged}">
        <a href="/addMovie" id="addMovie-button"></a>
    </th:block>
</div>




<div id="finder" th:fragment="finderBar">
    <form method="POST" action="/find">
        <input type="text" placeholder="Szukaj" name="pattern">
        <input type="submit" value="Szukaj">
    </form>

</div>





<div id="menu" th:fragment="menu">
    <a href="/action">Akcja</a>
    <a href="/drama">Dramat</a>
    <a href="/fantasy">Fantasy</a>
    <a href="/horror">Horror</a>
    <a href="/comedy">Komedia</a>
    <a href="/romance">Romans</a>
    <a href="/thriller">Thriller</a>
    <a href="/western">Western</a>
    <a href="/other">Inny</a>
</div>



</body>
</html>